<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrition Plan</title>
</head>
<body>

<h1>Nutrition Plan</h1>

<h2>Breakfast</h2>
<ul>
    <li>Chedar Chesse</li>
    <li>Milkshake</li>

</ul>

<h2>Lunch</h2>
<ul>
    <li>Eggs</li>
    <li>Soup cream garlic</li>
    
</ul>

<h2>Dinner</h2>
<ul>
    <li>Sweet Chesse</li>
    <li>Beef Steak</li>
    
</ul>

<h2>Snacks</h2>
<ul>
    <li>apples</li>
    <li>Bananas</li>

</ul>

</body>
</html>
